* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  padding-top: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}

nav ul li {
  float: left;
}

nav ul li a{
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #3CB8BC;
  text-decoration: none;
  color: #ffffff;
  border-radius: 60px;
  transition: 0.3s;
}

nav a i{
  float: right;
  display: block;
  color: #ffffff;
  text-align: right;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 30px;
}

nav a:hover i {
  color: #3CB8BC;
}

.fa-ellipsis-v {
  display: none;
}

footer {
  background-color: #202020;
}

footer p {
  margin: 0;
  padding: 15px;
  color: #ffffff;
}

.portada {
  height: 100vh;
  background-image: url(../images/portada.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div.contenido-p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 85vh;
  width: 100%;
}

.contenido-p img {
  width: 25%;
}

.contenido-p p {
  margin-top: 30px;
  font-size: 20px;
  color: #ffffff;
}

.boton {
  padding: 10px 45px;
  color: #ffffff;
  text-decoration: none;
  background-color: #3CB8BC;
  border-radius: 60px;
  transition: 0.2s;
}

.boton:hover {
  transition: 0.2s;
  padding: 10px 80px;
  color: #ffffff;
  text-decoration: none;
}

.nosotros {
  background-color: #FFFFFF;
}

.nos-c {
  padding: 50px 0;
}

.titulos h1 {
  font-size: 35px;
  margin-bottom: 50px;
}

.nos-c h2 {
  font-size: 25px;
}

.nos-c p.ocupation {
  background-color: #3CB8BC;
  display: inline-block;
  padding: 10px 15px;
  font-weight: 600;
}

a.conta {
  color: #000000;
  text-decoration: none;
}

.nosot {
  display: flex;
}

.nos-c img {
  border-radius: 50%;
  margin-bottom: 30px;
}

.desarrollo {
  background-color: #FAFAFA;
  padding: 150px;
  overflow: hidden;
}

.cel {
  width: 170%;
  position: absolute;
  top: -187px;
  right: -260px;
}

.desarrollo h1 {
  font-style: 35px;
}

.video {
  height: 550px;
  background-image: url(../images/foto1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.difu {
  background-color: rgba(0, 0, 0, 0.5);
}

.video h1 {
  font-size: 50px;
  color: #ffffff;
  padding: 15px 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.tecnologias {
  background-color: #FAFAFA;
}

.tecnologias img {
  width: 40%;
  padding: 50px 0;
}

.death {
  width: 100%;
  display: flex;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    padding: 10px;
    /* display: block; */
    margin-left: 35px;
  }

  nav ul li {
    float: none;
  }

  .fa-ellipsis-v {
    display: inline;
    float: right;
    color: #ffffff;
    padding: 12px 10px;
    font-size: 22px;
  }

  div.contenido-p {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height: 50vh; */
    width: 100%;
  }

  .fa-github {
    display: none;
  }

  .contenido-p img {
    width: 50%;
  }

  .desarrollo {
    padding: 10%;
    width: 100%;
    overflow: visible;
  }

  .cel {
    width: 120%;
    position: static;
    text-align: center;
  }

  .nosotros {
    width: 100%;
  }

  .nosot {
    display: block;
  }

  .video h1 {
    font-size: 30px;
  }
}
